
@media (max-width: 600px){
    header   {
     padding-bottom: 80px;
   }
  }
  
  @media (max-width: 600px){
    header h1  {
     
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
  width: 290px;
   }
  }
  
  @media (max-width: 600px){
    .content-bottom {
    display: flex;
   flex-direction: column;
   justify-content: center;
  }
  }
  
  @media (max-width: 600px){
   button {
    width: 335px;
  }
  }
  
  
  
  
  @media (max-width: 600px){
    main {
    display: flex;
   flex-direction: column;
   justify-content: center;
  height: 500px;
  
  
  }
  }
  
  
  @media (max-width: 600px){
    general section:nth-of-type(even) {
    display: flex;
   flex-direction:column-reverse;
  
  
  
  }
  }
  
  
  
  @media (max-width: 600px){
    .text2  {
    display: flex;
   flex-direction:column-reverse;
  text-align: left;
  width: 1000px;
  
  
  }
  }
  
  @media (max-width: 600px){
    .text3  {
    display: flex;
  align-items: center;
  height: 300px;
  width: 150px;
  padding-left: 150px;
  margin-bottom: 20px;
  margin-top: 20px;
  
  }
  }
  
  
  
  @media (max-width: 600px){
    aside  {
      display: flex;
      flex-direction: column;
      justify-content: center;
     height: 920px;
  
     .text5  {
      display: flex;
      justify-content: center;
      align-self: center;
      text-align: center;
     padding-bottom: 950px;
     width: 250px;
  }
  }
  }
  
  
  @media (max-width: 600px){
    footer h1  {
      display: flex;
      justify-content: center;
      align-self: center;
      text-align: center;
      width: 170px;
  }
  }
  
  @media (max-width: 600px){
    footer   {
     padding-bottom: 50px;
  }
  }
  
  
  
  
  @media (max-width: 600px){
    hero  {
      display: flex;
      flex-direction:column;
      text-align: center;
     align-items: center;
      width: 280px;
    padding-left:100px;
  
   
  }
  }
  
  @media (max-width: 600px){
    hero p {
      width: 300px;
   padding-bottom: 20px;
  
   
  }
  }
  
  
  