nav {
    height: 35px;
   display: flex;
   justify-content: space-between;
   margin-top: 10px;
   padding-left: 150px;
   
  }
  
  .href {
    margin-right: 150px;
    margin-top: 3px;
  }